<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto"></ul>

    <form
      class="form-inline my-2 my-lg-0"
      [formGroup]="profileForm"
      (ngSubmit)="addEquipo()"
    >
      <input
        formControlName="nombre"
        class="form-control mr-sm-2"
        placeholder="Equipo"
        aria-label="Equipo"
      />
      <button
        class="btn btn-light my-2 my-sm-0"
        type="submit"
        [disabled]="!profileForm.valid"
      >
        Agregar
      </button>
    </form>
  </div>
</nav>

<app-equipos></app-equipos>
